# Target build outputs
**/target/
*.class

# IDE and Editor files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# OS metadata
.DS_Store
Thumbs.db

# Log files
*.log

# Local secrets & configs
**/application-local.yml
**/application-*.yml
!**/application.yml
.env
.env.*
!.env.example
**/ngrok.exe
